---
import StudyLayout from '@layouts/StudyLayout.astro'
import RouteNav from '@components/RouteNav.astro'
import GmapsImg from '@media/revel/mapping/gmaps-bg.png'

const slides = [
  { id: 'hero', title: 'Remapping Revel' },
  { id: 'w2-to-1099', title: 'W2 to 1099' },
  { id: 'map-migration', title: 'Map Migration' },
  { id: 'drivers', title: 'Drivers: Where & Why' },
  { id: 'visualizations', title: 'Demanding Visualizations' },
  { id: 'decisions', title: 'Key Design Decisions' },
  { id: 'failures', title: "What Didn't Work" },
  { id: 'results', title: 'Results' },
  { id: 'next', title: 'What Comes Next' },
]
---

<StudyLayout title="Remapping Revel" color="rgb(1, 185, 242)" slides={slides}>
  <RouteNav slot="nav" slides={slides} />

  <!-- Slide 1: Hero -->
  <section class="study-slide slide-hero" id="hero">
    <div class="hero-accent"></div>
    <div class="slide-inner slide-inner--centered">
      <h1 class="slide-body hero-title">Remapping Revel</h1>
      <div class="slide-body hero-meta">
        <span class="hero-role">Lead Product Designer</span>
        <span class="hero-divider"></span>
        <span class="hero-period">2022 &ndash; 2025</span>
      </div>
      <p class="slide-media hero-summary">
        I led design on creating a new mapping system across all of Revel's products and spearheaded demand heatmaps
        that helped drivers improve their earnings.
      </p>
      <div class="hero-visual">
        <img
          src={GmapsImg.src}
          alt=""
          class="hero-map-img"
          width={GmapsImg.width}
          height={GmapsImg.height}
        />
        <svg class="hero-heatmap" width="1118" height="778" viewBox="0 0 1118 778" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_27_44744)">
            <g style="mix-blend-mode:multiply" opacity="0.9">
              <path class="hero-heatmap-zone" d="M82.606 731.993L82.3556 732.327V732.47L81.9264 733.328L81.7835 733.376L81.7477 733.758L82.1053 733.949L82.606 732.804L82.5703 732.517L82.6776 732.374L82.8206 732.47L83.0351 732.136L85.6102 733.138L85.2169 734.76V734.903L86.0752 735.046L86.4329 733.424L91.6903 735.427H92.1195H92.191L96.0536 735.237L96.1251 736.238L96.2324 737.336L96.3397 738.433L96.4828 739.005L96.7332 739.339H97.4127L97.6273 739.101L97.6988 738.815L97.5915 737.956L97.0908 735.189L99.0937 735.093L100.882 734.569L101.204 734.998L101.526 735.093L102.241 734.712L102.491 734.521V734.092L105.639 733.185L105.782 733.471L105.925 733.758L106.211 734.616L106.604 735.332L107.069 735.857L107.82 736L108.106 735.809L108.822 735.093L108.357 733.567L107.963 732.47L117.262 729.75L117.727 731.134L118.621 733.805L118.764 733.758L118.907 733.471L117.834 730.657L118.013 730.514L117.834 730.132L117.691 730.228L117.513 729.655L121.769 728.415L119.301 719.16L129.995 715.582L138.364 734.187L158.32 725.075L146.268 704.705L151.239 701.461L152.705 697.359L156.568 694.019L167.727 710.144L177.633 702.511L164.973 689.201L170.016 684.86L171.053 685.766L170.981 685.862L171.339 686.148L171.446 686.1L172.126 686.72L172.805 687.436L173.807 688.581L174.486 689.296L174.915 689.773L176.382 691.396L176.704 691.729L177.204 692.588L177.92 693.495H178.027L178.17 693.733L178.385 693.924L178.42 694.115L179.744 695.689L180.173 696.214L180.387 696.452L180.709 696.834L180.888 697.072L181.067 697.359L181.281 697.406L181.568 697.74H181.782L183.284 696.548L182.426 695.403L182.855 695.021L182.891 694.973L182.676 694.735L182.641 694.783L172.626 682.618L173.735 681.664L174.772 682.999L175.523 682.427L174.45 681.043L177.741 678.229L184.715 686.673L187.111 689.583L189.15 687.865L189.257 687.722L179.887 676.368L183.106 673.601L195.301 689.678L221.517 667.495L212.469 657.239L216.403 654.042L213.434 650.226L217.476 647.984L218.477 646.171L223.913 642.927L225.165 640.399L244.049 628.043L252.847 625.371L272.196 621.221L274.986 621.937L283.534 620.171L301.702 616.403L300.987 614.065L300.772 614.113L300.629 613.827L300.415 613.397L300.128 612.682L299.807 612.014L299.413 611.012L300.772 610.678L301.452 610.583L302.024 610.44L300.665 600.469L300.093 596.414L299.878 595.079L299.664 593.981L298.59 587.923L298.376 586.873L298.269 586.158L298.126 585.347L298.09 585.204L297.911 582.961L297.768 581.626L297.553 579.002L297.446 577.905L297.303 576.473L296.123 567.171L295.479 559.824L295.372 558.632L294.478 551.81L291.974 552.096L290.114 552.239L281.102 553.05L279.278 553.336L277.561 553.575L277.275 553.623L275.808 553.813L274.306 553.957L273.662 554.004L272.554 554.1L256.781 555.436L247.482 555.912H246.91L250.88 548.852L253.634 543.509L256.281 537.641L259.213 531.201L259.964 530.056L260.823 528.148L251.917 524.189L244.443 520.658L236.467 517.033L229.528 511.213L223.341 505.25L217.798 499.954L210.645 493.132L209.428 491.94L204.779 487.503L197.876 481.015L191.546 474.957L189.114 472.667L185.108 468.803L178.313 462.41L172.626 457.401L171.804 456.399L166.01 450.866L162.29 447.049L149.486 434.884L146.768 432.308L145.195 430.686L143.013 428.73L140.438 426.297L139.758 425.629L133.249 419.476L126.311 412.988L118.872 405.498L117.799 405.45H116.833L116.726 406.309L115.367 413.465L113.65 424.914L112.827 424.819L111.397 424.628L108.571 424.294L107.785 424.246L107.892 423.626L105.424 421.145L99.5943 456.781L64.2943 450.007L58.9296 481.731L93.8004 485.881L92.048 496.758L60.3602 491.32L54.6021 538.596L44.2659 537.451L44.1586 542.698L50.5606 543.08L38.0787 635.342L44.2659 637.011L43.5507 641.496L35.7897 642.975L33 655.092L33.6437 665.539L40.6538 685.575L47.4491 685.146L49.5234 691.3L59.7522 712.147L73.2714 728.415L78.8507 730.561L78.6361 730.848H78.493L78.3499 731.086H78.2426L77.6347 732.183L77.9208 732.374L78.6003 731.229L79.0295 730.609L82.606 731.993Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" d="M624.948 739.674L625.699 749.597L625.627 749.597L625.77 751.887L625.511 751.904L625.499 751.905L616.818 752.491L583.174 756.276L585.821 732.9L541.615 684.861L527.145 647.637L526.88 647.46L517.188 644.836L507.958 632.655L507.674 632.433L507.638 632.232L505.814 622.176L510.428 598.848L519.655 567.124L531.673 527.911L534.426 500.862L551.021 482.209L561.179 461.696L575.95 451.439L585.177 413.18L688.973 500.862L695.014 546.825L683.924 556.82L644.261 639.875V649.225L643.939 649.416L631.314 657.717L607.387 720.115L624.948 739.674Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.6" d="M607.385 720.115L624.945 739.674L625.693 749.596L625.732 750.121L782.132 725.219L785.816 727.604L785.851 727.603L786.921 727.272L787.416 727.12L788.677 726.745L831.166 713.865L860.851 703.513L899.119 683.954L934.062 664.252L978.911 613.398L998.153 585.824L1015.53 572.992L1035.31 564.691L1063.82 539.884L1062.57 538.739L1061.85 538.692L1057.02 536.115L1053.91 528.721L1050.15 528.864H1049.58L1045.54 529.914L954.901 481.091L948.296 477.533L945.65 474.957H943.504L940.714 473.431L916.68 401.11L912.066 393.047L910.028 387.18L909.205 388.134L909.134 388.038L883.276 417.854L824.192 436.507L794.65 457.02L683.922 556.82L644.258 639.874V649.225L631.312 657.716L607.385 720.115Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.4" d="M136.074 192.304L134.715 192.113L134.822 191.207L99.7007 183.192L96.5892 205.662L95.2659 235.286L111.467 236.193L109.822 252.174L117.977 251.983L114.758 292.008L103.921 291.006L104.458 304.221L83.0701 302.456L82.462 316.529L113.22 316.004L112.183 342.337L77.4907 337.328L69.6582 403.066L107.855 406.167L105.423 421.146L107.891 423.627L107.784 424.247L111.396 424.629L112.827 424.82L113.649 424.915L115.366 413.466L116.725 406.31L116.832 405.451H117.798L118.871 405.499L126.31 412.989L133.248 419.477L139.758 425.63L140.437 426.298L143.012 428.731L145.194 430.687L146.767 432.309L149.486 434.885L162.289 447.05L166.009 450.867L171.803 456.4L172.626 457.402L178.312 462.411L185.107 468.804L189.113 472.668L191.545 474.958L197.876 481.016L204.778 487.504L209.428 491.941L210.644 493.134L217.797 499.955L223.34 505.251L229.527 511.214L236.466 517.034L244.442 520.659L251.916 524.19L260.822 528.149L263.218 522.854L266.902 514.696L272.875 499.574L276.594 487.6L276.988 485.978L280.314 475.626L282.603 467.754L285.214 458.833L287.753 449.579L289.398 443.615L293.797 427.729L294.083 426.728L294.298 425.869L296.73 416.805L297.874 412.655L299.269 407.359L301.844 397.771L304.241 388.802L305.993 382.791L306.065 379.929L308.318 369.815L310.178 362.469L311.823 354.788L312.145 353.023L314.255 344.198L315.363 334.943L317.08 325.831L318.868 316.099L320.371 306.177L320.049 294.536L311.858 289.337L307.567 287.142L302.631 284.518L284.319 274.405L253.311 256.992L225.951 241.679L198.627 226.318L193.012 223.169L173.269 212.102L171.266 211.004L155.852 202.227L147.948 197.838L143.978 195.548L139.221 192.829L138.327 192.638L137.326 192.543L136.074 192.304Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.7" d="M282.604 467.755L280.314 475.626L276.988 485.978L276.595 487.6L272.875 499.574L266.903 514.697L263.219 522.854L260.823 528.15L259.964 530.058L259.213 531.203L256.281 537.643L253.634 543.511L250.88 548.854L246.91 555.914H247.482L256.781 555.437L272.554 554.101L273.662 554.006L274.306 553.958L275.808 553.815L277.275 553.624L277.561 553.577L279.277 553.338L281.101 553.052L290.114 552.241L291.974 552.098L294.477 551.812L295.372 558.633L295.479 559.826L296.123 567.173L297.303 576.475L297.446 577.906L297.553 579.004L297.768 581.627L297.911 582.963L298.125 585.348L298.269 586.159L298.376 586.875L298.59 587.924L299.663 593.983L299.878 595.08L300.093 596.416L300.665 600.471L302.024 610.441L301.452 610.584L300.772 610.68L299.413 611.014L299.806 612.016L300.128 612.683L300.414 613.399L300.629 613.828L300.772 614.115L300.987 614.067L301.702 616.404L329.313 610.68L331.065 622.463L406.136 611.777L405.599 606.768L438.539 602.522L441.829 600.089L448.338 593.697L453.381 585.969L473.123 525.335L484.354 474.052L496.12 409.65L495.906 394.718L494.26 393.621L493.688 393.048L493.152 392.619L492.544 392.142L491.828 391.474L479.812 384.461L456.743 371.009L455.706 370.484L452.559 368.91L452.344 368.862L451.235 368.289L445.119 364.855L440.398 362.183L434.318 358.748L422.373 351.688L412.073 345.773L407.459 343.244L400.914 339.666L391.579 334.562L390.757 334.132L367.796 321.347L346.265 309.23L330.85 300.548L320.049 294.537L320.371 306.177L318.869 316.1L317.081 325.832L315.364 334.943L314.255 344.198L312.145 353.024L311.823 354.789L310.178 362.469L308.319 369.816L306.065 379.929L305.994 382.792L304.241 388.803L301.845 397.771L299.27 407.36L297.875 412.655L296.731 416.806L294.299 425.87L294.084 426.728L293.798 427.73L289.399 443.616L287.754 449.579L285.214 458.834L282.604 467.755Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.3" d="M123.843 105.195L110.754 103.096L99.7021 183.193L134.823 191.207L134.716 192.114L136.075 192.304L137.327 192.543L138.328 192.638L139.222 192.829L143.979 195.549L147.949 197.838L155.853 202.227L171.268 211.005L173.271 212.102L193.013 223.17L198.628 226.318L225.952 241.679L253.313 256.993L258.141 248.215L262.611 239.962L266.725 232.472L270.838 224.935L274.95 217.445L279.063 209.908L283.141 202.37L287.468 194.451L292.153 185.769L296.803 177.325L299.235 172.841L301.13 169.406L305.458 161.487L309.821 153.568L314.149 145.601L318.476 137.634L322.804 129.715L327.132 121.796L331.495 113.877L336.073 105.958L338.612 101.331L340.579 97.5141L345.157 88.975L349.413 80.9128L353.776 72.9459L358.14 65.0746L362.539 57.1077L366.795 49.1887L371.122 41.1742L375.736 32.6349L353.705 20.2317L348.483 17.3216L334.356 9.35488L321.123 1.96048L266.438 -28.7617L259.142 -32.8643L239.114 -44.1228L212.934 -58.816L211.825 -59.5315L210.609 -60.1995L210.037 -61.9168L208.142 -67.4984L186.754 -79.52L187.684 -81.1898L182.677 -84.1475L180.209 -79.3769L205.924 -63.9205L203.528 -60.1517L176.096 -75.3697L171.125 -65.1131L186.396 -57.0032L171.554 -30.813L157.82 -39.2568L148.199 -22.2737L170.302 -11.7309L158.214 15.6043L149.952 10.0704L145.517 18.8004L151.633 22.8076L136.755 57.6326L124.487 52.1941L112.613 83.0594L128.6 90.5969L127.778 93.1253L122.02 90.5969L120.017 89.7381L119.409 89.4997L118.908 90.6923L119.48 91.0263L121.876 92.0758L126.061 93.8886L127.348 94.4611L123.843 105.195Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" d="M495.905 394.717L496.12 409.649L500.411 369.004L499.696 365.092L499.768 364.662L498.123 357.173L484.782 322.873L476.807 299.736L481.027 289.431L480.383 291.005L480.956 291.149L483.423 286.664L484.067 282.466L484.639 281.417L488.394 281.56L490.397 278.268L489.003 233.521L498.087 188.296L496.799 187.103L500.304 176.656L501.806 174.175L506.17 175.606L508.423 172.315L505.848 170.502L535.282 122.701L533.53 121.413L533.279 121.795L468.724 84.9665L453.345 76.2842L445.62 71.9906L443.152 70.6073L438.967 68.3174L437.68 67.6018L436.571 66.9816L431.028 63.7855L422.194 58.8241L406.815 50.0939L375.735 32.6338L371.121 41.1731L366.794 49.1875L362.538 57.1066L358.139 65.0735L353.775 72.9448L349.412 80.9116L345.156 88.9738L340.578 97.513L338.611 101.329L336.072 105.957L331.494 113.876L327.13 121.795L322.803 129.714L318.475 137.633L314.148 145.6L309.82 153.567L305.457 161.486L301.129 169.405L300.343 170.788L299.234 172.84L296.802 177.324L292.152 185.768L287.467 194.45L283.139 202.369L280.922 206.472L279.062 209.907L274.949 217.444L270.836 224.934L266.723 232.471L262.61 239.961L258.14 248.214L253.312 256.992L284.32 274.404L302.631 284.518L307.567 287.141L311.859 289.336L320.049 294.536L330.85 300.547L346.265 309.229L367.795 321.346L390.756 334.131L391.579 334.56L400.914 339.665L407.458 343.243L412.072 345.771L422.373 351.687L434.318 358.747L440.398 362.182L445.119 364.853L451.235 368.288L452.344 368.86L452.558 368.908L455.705 370.482L456.743 371.007L479.811 384.46L491.828 391.473L492.543 392.141L493.151 392.618L493.688 393.047L494.26 393.62L495.905 394.717Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.67" d="M586.784 245.592L600.875 248.263L616.468 239.533L629.38 233.379L637.105 231.185L647.941 228.37L655.881 227.559L666.289 228.37L681.096 230.612L696.332 235.621L721.546 248.454L731.489 252.795L738.498 252.366L747.94 248.645L767.182 239.104L774.371 236.194L785.458 229.658L795.472 214.249L806.953 185.96L813.605 164.254L824.477 126.997L831.273 110.92L835.064 106.102L833.991 99.6615L833.633 99.4706L833.669 99.4229L801.904 80.7254L748.083 49.0462L699.443 20.423L699.422 20.4456L698.692 21.2341L697.083 23.3808L690.609 34.5439L683.42 45.3251L676.053 55.9157L669.579 65.1705L663.106 73.185L659.422 79.5299L658.278 82.4876L658.635 85.0637L657.491 89.548L655.059 92.935L649.873 94.7479L646.511 95.0818L643.399 97.9918L643.65 101.093L640.753 106.006L639.036 107.819L636.497 107.39L635.567 108.296L633.85 110.92L630.953 115.357L625.302 124.898L622.298 131.242L622.656 133.055L620.116 136.299L617.005 142.119L614.966 145.602L613.893 149.561L612.034 153.139L610.567 156.908L611.891 160.867L610.281 163.539L607.599 164.254L605.846 165.161L604.523 168.214L603.021 168.357L601.161 168.548L600.875 172.126L607.205 173.557L607.062 174.845L605.453 176.276L603.021 177.517L600.732 178.948L599.552 181.476L598.336 185.054L597.942 186.485H597.37L596.583 187.344L592.685 196.503L592.971 197.743L593.758 198.459L595.904 199.365L596.297 200.606L596.19 203.85L595.904 205.472L594.294 206.187L593.901 207.237L592.685 207.952L590.789 208.334L589.323 209.956V212.103L590.145 214.44L592.005 215.299V216.921L591.898 218.352L592.685 219.449L592.291 220.881L591.469 222.121H590.396L588 222.503L586.39 222.646L585.568 223.743L584.494 225.508L583.422 227.512V229.277L582.742 232.521L582.349 235.192L582.062 238.436L582.349 240.583L583.422 241.298L586.641 243.445L586.784 245.592Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.32" d="M833.956 99.3729L833.705 99.4205H833.67L833.634 99.4683L833.991 99.6591L835.064 106.099L831.273 110.918L824.478 126.994L813.605 164.252L806.953 185.958L795.472 214.247L785.458 229.656L774.371 236.192L767.183 239.102L747.941 248.643L738.499 252.364L731.489 252.793L740.073 255.989L759.779 265.196L784.171 279.556L790.108 286.854L798.799 308.704L799.085 309.228V309.801L799.621 310.23L801.123 312.949L808.741 334.607L817.826 344.912L839.607 360.225L888.676 371.531L898.011 375.109L910.099 384.555L922.724 367.333L957.917 307.797L976.729 294.535L1121.86 268.297L1177.8 235.81L1200.08 213.152L1233.2 179.47L1239.03 160.817L1238.14 144.502L1220.93 88.7346L1214.64 73.135L1209.85 60.2069L1196.65 28.5783L1179.66 -13.45L1151.3 -109.051L1151.55 -109.29L1151.08 -109.528L1150.87 -109.29L1150.76 -109.576L1113.82 -42.3593L1121.43 -34.7039L1121.79 -34.3449L1124.19 -31.6734L1085.56 58.2986L1082.59 55.3409L1046.33 47.2787L1027.77 44.8935H1016.54L1008.13 47.2787L1003.73 48.2806L968.611 58.2986L954.662 62.5922L936.351 67.8397L916.573 68.2214L912.996 68.269L876.373 68.9369L868.861 71.1636L868.648 71.2269L859.063 73.8028L854.163 79.6229L853.158 80.7656L837.389 98.705L833.884 99.0867L833.956 99.3729Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.4" d="M824.193 436.506L794.651 457.02L695.012 546.824L688.972 500.861L585.175 413.179L589.789 399.153L593.473 344.149L584.245 317.1L566.721 319.867V312.425L580.562 306.843V296.587L603.63 259.234L628.558 234.999L656.24 230.324L674.695 231.278L711.605 247.117L760.531 267.63L788.213 288.191L804.808 333.892L835.28 360.941L893.398 374.919L910.029 387.036L883.276 417.854L824.193 436.506Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M734.258 -131H768.878L763.179 -121.788L752.843 -105.52L748.98 -99.3183L741.684 -85.7701L754.488 -75.2273L767.113 -96.7424L782.563 -118.162L785.246 -122.265L787.57 -125.079L790.36 -128.943L791.433 -129.85L792.375 -131H1172.52L1151.55 -109.289L1151.09 -109.527L1150.87 -109.295L1150.76 -109.576L1113.82 -42.3591L1121.44 -34.7036L1124.19 -31.6723L1085.56 58.2997L1082.6 55.342L1046.33 47.2798L1027.77 44.8945H1016.54L1008.13 47.279L1003.73 48.2809L968.612 58.2989L954.663 62.5925L936.353 67.8407L916.574 68.2217L912.997 68.2693L876.374 68.9372L868.862 71.1638L859.065 73.8039L853.159 80.7659L837.39 98.7052L833.885 99.087L833.956 99.3732L833.707 99.4216L801.905 80.7252L748.084 49.0459L699.444 20.4228L699.423 20.4454L749.087 -68.6916L735.997 -75.4658L721.977 -56.0974L692.078 -9.25095L682.851 2.67534L681.17 5.2515L673.695 14.554L655.169 38.502L598.481 101.998L596.478 102.427L592.544 103.954L592.258 103.333L591.435 103.524L591.006 100.948L590.863 100.71L590.899 100.424L589.611 93.3631L611.178 51.9549L619.582 44.3698L626.807 34.1609L641.149 10.4513L659.174 -15.4526L672.729 -36.4428L722.514 -111.769L723.837 -113.773L734.258 -131Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M1291 236.06V400.237L1281.7 408.886L1265.75 416.662L1239.67 418.57L1216.53 418.045L1197.86 432.023L1160.53 461.887L1183.34 571.501L1102.73 565.693L1063.89 539.98H1063.85L1063.78 539.932L1063.82 539.885L1062.57 538.74L1061.85 538.692L1057.02 536.116L1053.91 528.722L1050.16 528.865H1049.58L1045.54 529.914L954.902 481.091L948.333 469.567L925.479 406.167L910.099 384.555L922.724 367.333L957.917 307.797L976.729 294.535L1121.86 268.297L1177.8 235.81L1200.08 213.151L1291 236.06Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M1063.78 539.934L1063.85 539.981H1063.89L1102.73 565.694L1183.34 571.514L1183.34 571.502L1183.49 571.512L1198.26 608.007L1214.96 644.311L1228.23 682.618L1230.73 689.487L1233.16 696.882L1243.29 726.077L1220.22 755.655L1208.34 774.975L1187.49 821.25L1180.45 828.024L1132.1 909.001H1026.4L885.958 803.455L885.887 803.409L805.236 742.297L792.003 732.279L785.887 727.652L785.852 727.604L788.678 726.746L786.922 727.273L787.416 727.121L831.167 713.866L860.851 703.513L899.119 683.954L934.061 664.251L978.911 613.398L998.152 585.824L1015.53 572.991L1035.31 564.691L1063.78 539.934Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.1" fill-rule="evenodd" clip-rule="evenodd" d="M792.003 732.278L805.236 742.296L885.886 803.408L885.779 803.598L885.886 803.694L900.872 905.688L901.358 908.999H646.116L641.9 880.07L643.044 867.809L625.305 752.315L625.51 751.903L625.769 751.886L625.626 749.596H625.693L625.733 750.121L782.133 725.219L785.817 727.604L785.851 727.603L785.887 727.65L792.003 732.278Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.24" fill-rule="evenodd" clip-rule="evenodd" d="M625.305 752.316L643.044 867.81L641.9 880.07L646.116 909H430.733L411.145 760.33L411.895 728.463L426.166 661.723L419.84 660.652L424.306 658.288L427.739 660.864L428.777 659.529L446.588 675.51L448.125 675.844L448.447 674.985L453.776 676.989L456.494 677.514L454.492 690.871L465.078 697.55L462.431 708.904L470.335 712.195L486.823 684.86L467.045 658.193L464.399 636.821L493.44 613.493L507.637 632.231L507.674 632.432L507.958 632.654L517.187 644.836L526.88 647.459L527.145 647.636L541.615 684.86L585.82 732.899L583.174 756.275L616.817 752.49L625.499 751.905L625.305 752.316Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.6" fill-rule="evenodd" clip-rule="evenodd" d="M430.732 909H170.679L171.087 907.503L146.338 898.439L160.86 867.335L160.967 867.048H161.003L224.343 731.518L258.856 687.534L273.162 682.238L273.376 682L277.668 678.613L282.496 677.038L285.572 676.371L289.578 676.227L291.867 675.369L350.378 664.778L408.139 658.672L419.839 660.653L419.799 660.674L426.165 661.724L411.894 728.463L411.143 760.33L430.732 909Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.6" d="M201.81 -122.264L206.591 -131H212.602L243.977 -113.486L244.549 -114.536L246.159 -118.447L224.34 -131H246.362L251.559 -128.036L253.053 -131H464.093L451.555 -106.378L428.773 -64.3021L424.41 -56.2877L420.011 -48.2733L415.612 -40.3064L411.248 -32.2442L406.813 -24.182L402.414 -16.1675L398.087 -8.15313L393.652 -0.0431767L389.253 7.8759L387.393 11.263L384.854 15.9857L380.455 24.0002L375.734 32.6349L353.704 20.2317L348.482 17.3216L334.355 9.35501L321.122 1.96062L266.437 -28.7617L259.141 -32.8642L239.113 -44.1227L212.933 -58.8159L211.824 -59.5314L210.608 -60.1994L210.036 -61.9167L208.14 -67.4982L186.753 -79.5199L187.683 -81.1897L182.676 -84.1474L184.571 -87.8208L210.68 -72.889L212.039 -75.8945L188.613 -88.6794L190.401 -91.16L186.86 -93.0682L189.507 -98.936L224.02 -79.2815L225.63 -79.7108L227.167 -82.0484L190.723 -101.417L198.055 -115.919L234.249 -95.6444L236.252 -98.5067L235.215 -98.8407L234.499 -99.7947L235 -101.226L236.609 -101.798L201.81 -122.264Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
              <path class="hero-heatmap-zone" opacity="0.2" fill-rule="evenodd" clip-rule="evenodd" d="M464.094 -131H670.193L697.584 -115.442L697.655 -115.489L698.12 -115.203L697.762 -114.631L661.21 -59.1978L623.335 -11.0631L602.842 20.8994L589.215 35.1633L535.282 122.702L533.529 121.414L533.279 121.796L468.723 84.9675L453.344 76.2852L445.619 71.9916L443.151 70.6083L438.967 68.3184L437.679 67.6029L436.571 66.9826L431.027 63.7865L422.193 58.8251L406.814 50.095L375.734 32.6348L380.455 24.0002L384.854 15.9857L389.254 7.87589L393.653 -0.0431918L398.087 -8.15314L402.415 -16.1676L406.814 -24.182L411.249 -32.2442L415.612 -40.3064L420.011 -48.2733L424.41 -56.2877L428.774 -64.3021L433.246 -72.3642L437.609 -80.331L451.556 -106.378L464.094 -131Z" fill="#A660DA" style="fill:#A660DA;fill:color(display-p3 0.6510 0.3765 0.8549);fill-opacity:1;"/>
            </g>
            <path class="hero-route-main" d="M415.5 182L305.5 380.5L292.5 426L277.5 474L606.5 606.5L641.5 603L659 573.5L698 532.5L750 488L759 474L736.5 444.5L706 380.5" stroke="#05386C" style="stroke:#05386C;stroke:color(display-p3 0.0196 0.2196 0.4235);stroke-opacity:1;" stroke-width="8" stroke-linecap="round"/>
            <path class="hero-route-progress" d="M415.5 182L305.5 380.5L292.5 426L277.5 474" stroke="#3BC8FC" style="stroke:#3BC8FC;stroke:color(display-p3 0.2314 0.7843 0.9882);stroke-opacity:1;" stroke-width="8" stroke-linecap="round"/>
            <circle class="hero-route-dot" cx="420" cy="173" r="9" fill="white" stroke="#3BC8FC" style="fill:white;fill-opacity:1;stroke:#3BC8FC;stroke:color(display-p3 0.2314 0.7843 0.9882);stroke-opacity:1;" stroke-width="6"/>
            <circle class="hero-route-dot" cx="701" cy="370" r="9" fill="white" stroke="#05386C" style="fill:white;fill-opacity:1;stroke:#05386C;stroke:color(display-p3 0.0196 0.2196 0.4235);stroke-opacity:1;" stroke-width="6"/>
            <circle class="hero-route-dot" cx="278" cy="474" r="9" fill="#EBF9FF" stroke="#3BC8FC" style="fill:#EBF9FF;fill:color(display-p3 0.9216 0.9765 1.0000);fill-opacity:1;stroke:#3BC8FC;stroke:color(display-p3 0.2314 0.7843 0.9882);stroke-opacity:1;" stroke-width="6"/>
          </g>
          <defs>
            <clipPath id="clip0_27_44744">
              <rect width="1118" height="778" fill="white" style="fill:white;fill-opacity:1;"/>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </section>

  <!-- Slide 2: W2 to 1099 -->
  <section class="study-slide slide-split" id="w2-to-1099">
    <div class="slide-inner slide-inner--split">
      <div class="slide-text">
        <div class="slide-header-group">
          <p class="slide-section-label slide-body">Context</p>
          <h2 class="slide-heading">W2 to 1099</h2>
        </div>
        <p class="slide-body slide-subtitle">
          Revel pivoted from salaried drivers to independent contractors which significantly changed driver incentives
        </p>
        <ul class="slide-body slide-list">
          <li>
            Drivers now earn through rides, tips, and ride completion incentive bonuses, so they want to maximize rides
            per hour
          </li>
          <li>
            Drivers have more control over their shift times, making efficient driver distribution harder to manage
          </li>
          <li>Data showed a large lag between demand spikes and driver supply responding</li>
          <li>Experienced drivers knew where demand was, but newer drivers wanted more clear direction</li>
        </ul>
      </div>
      <div class="slide-media">
        <div class="media-placeholder">
          <span class="media-placeholder-label">Context diagram</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Slide 3: Map Migration -->
  <section class="study-slide slide-split slide-split--reversed" id="map-migration">
    <div class="slide-inner slide-inner--split">
      <div class="slide-media">
        <div class="media-placeholder">
          <span class="media-placeholder-label">Map comparison</span>
        </div>
      </div>
      <div class="slide-text">
        <div class="slide-header-group">
          <p class="slide-section-label slide-body">Infrastructure</p>
          <h2 class="slide-heading">Map Migration</h2>
        </div>
        <p class="slide-body slide-subtitle">
          We decided to switch from Mapbox to Google Maps for map views and location search
        </p>
        <ul class="slide-body slide-list">
          <li>Mapbox was expensive and had outdated place data, causing poor search results for riders</li>
          <li>Google offered better pricing, traffic data, and more reliable search results</li>
          <li>Created a shared map style and component system across all products</li>
          <li>Lower cost per map load unlocked showing maps in more relevant parts of the UI</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Slide 4: Drivers: Where & Why -->
  <section class="study-slide slide-split" id="drivers">
    <div class="slide-inner slide-inner--split">
      <div class="slide-text">
        <div class="slide-header-group">
          <p class="slide-section-label slide-body">Research</p>
          <h2 class="slide-heading">Drivers: Where & Why</h2>
        </div>
        <p class="slide-body slide-subtitle">Understanding how drivers actually make positioning decisions</p>
        <ul class="slide-body slide-list">
          <li>Conducted driver interviews across experience levels</li>
          <li>Visited the operations team on-site to observe how managers used existing map tools</li>
          <li>Analytics confirmed supply/demand distribution data showed systemic inefficiency</li>
          <li>Pushed for investing extra dev time in the demand heatmap</li>
        </ul>
      </div>
      <div class="slide-media">
        <div class="research-items">
          <div class="slide-stagger-item research-card">
            <span class="research-card-icon">01</span>
            <span class="research-card-text">Driver interviews</span>
          </div>
          <div class="slide-stagger-item research-card">
            <span class="research-card-icon">02</span>
            <span class="research-card-text">Ops ride-alongs</span>
          </div>
          <div class="slide-stagger-item research-card">
            <span class="research-card-icon">03</span>
            <span class="research-card-text">Analytics deep-dives</span>
          </div>
          <div class="slide-stagger-item research-card">
            <span class="research-card-icon">04</span>
            <span class="research-card-text">Demand heatmap push</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Slide 5: Demanding Visualizations -->
  <section class="study-slide slide-media-heavy" id="visualizations">
    <div class="slide-inner slide-inner--media-heavy">
      <div class="slide-media">
        <div class="media-placeholder media-placeholder--wide">
          <span class="media-placeholder-label">H3 hexagons vs neighborhood zones</span>
        </div>
      </div>
      <div class="slide-text">
        <div class="slide-header-group">
          <p class="slide-section-label slide-body">Visualization</p>
          <h2 class="slide-heading">Demanding Visualizations</h2>
        </div>
        <p class="slide-body slide-subtitle">From H3 hexagons to human-readable neighborhood zones</p>
        <ul class="slide-body slide-list">
          <li>The data team switched to Uber's open source H3 hexagonal spatial indexing for higher-fidelity data</li>
          <li>Direct hex-demand data added too much visual noise and made neighborhoods hard to read</li>
          <li>Translated H3 data back to familiar neighborhood zones colored at different intensities</li>
          <li>Experiment: adjusting demand relative to driver zone was perceived as confusing</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Slide 6: Key Design Decisions -->
  <section class="study-slide slide-decisions" id="decisions">
    <div class="slide-inner slide-inner--centered">
      <div class="slide-header-group">
        <p class="slide-section-label slide-body">Design</p>
        <h2 class="slide-heading">Key Design Decisions</h2>
      </div>
      <p class="slide-body slide-subtitle decisions-subtitle">
        Three decisions that made the heatmap trustworthy and usable while driving
      </p>
      <div class="decision-cards">
        <div class="slide-stagger-item decision-card">
          <div class="decision-card-number">01</div>
          <h3 class="decision-card-title">Absolute Demand</h3>
          <p class="decision-card-body">
            Absolute demand felt stable and trustworthy; relative demand felt unpredictable and was abandoned after
            driver testing
          </p>
        </div>
        <div class="slide-stagger-item decision-card">
          <div class="decision-card-number">02</div>
          <h3 class="decision-card-title">Travel-Time Weighted</h3>
          <p class="decision-card-body">
            Factored in real-time traffic so a nearby medium-demand zone could outrank a distant high-demand one
          </p>
        </div>
        <div class="slide-stagger-item decision-card">
          <div class="decision-card-number">03</div>
          <h3 class="decision-card-title">Update Cadence</h3>
          <p class="decision-card-body">
            Minute-by-minute updates were too distracting while driving; 10-minute refreshes balanced freshness with
            calm
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Slide 7: What Didn't Work -->
  <section class="study-slide slide-split slide-failure" id="failures">
    <div class="slide-inner slide-inner--split">
      <div class="slide-text">
        <div class="slide-header-group">
          <p class="slide-section-label slide-body">Retrospective</p>
          <h2 class="slide-heading">What Didn't Work</h2>
        </div>
        <p class="slide-body slide-subtitle">The amenities map</p>
        <ul class="slide-body slide-list">
          <li>Driver interviews flagged a genuine pain: difficulty finding parking and restrooms during long shifts</li>
          <li>Built an amenities map layer surfacing rideshare-friendly parking and public restrooms</li>
          <li>Analytics showed the layer was barely used; data didn't reflect real-time availability</li>
          <li>Takeaway: a feature solving a real problem still fails without reliable underlying data</li>
        </ul>
      </div>
      <div class="slide-media">
        <div class="media-placeholder media-placeholder--muted">
          <span class="media-placeholder-label">Amenities map</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Slide 8: Results -->
  <section class="study-slide slide-results" id="results">
    <div class="slide-inner slide-inner--centered">
      <div class="slide-header-group">
        <p class="slide-section-label slide-body">Outcomes</p>
        <h2 class="slide-heading">Results</h2>
      </div>
      <p class="slide-body slide-subtitle results-subtitle">More efficient drivers, happier passengers</p>
      <div class="stats-grid">
        <div class="slide-stagger-item stat-card">
          <span class="stat-number">+XX%</span>
          <span class="stat-label">Driver revenue per hour increase, strongest gains among newer drivers</span>
        </div>
        <div class="slide-stagger-item stat-card">
          <span class="stat-number">&minus;XX min</span>
          <span class="stat-label">Passenger wait time decrease as driver distribution improved</span>
        </div>
        <div class="slide-stagger-item stat-card">
          <span class="stat-number">High</span>
          <span class="stat-label">Heatmap adoption among new drivers, tapered as they learned patterns</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Slide 9: What Comes Next -->
  <section class="study-slide slide-next" id="next">
    <div class="slide-inner slide-inner--centered">
      <div class="slide-header-group">
        <p class="slide-section-label slide-body">Future</p>
        <h2 class="slide-heading">What Comes Next</h2>
      </div>
      <p class="slide-body slide-subtitle">Taking advantage of other data to further enhance the map experience</p>
      <div class="next-items">
        <div class="slide-stagger-item next-card">
          <span class="next-card-number">01</span>
          <div>
            <h3 class="next-card-title">Event Demand Alerts</h3>
            <p class="next-card-body">
              Integrate public event schedules to surface upcoming demand spikes before they happen
            </p>
          </div>
        </div>
        <div class="slide-stagger-item next-card">
          <span class="next-card-number">02</span>
          <div>
            <h3 class="next-card-title">Street View Preview</h3>
            <p class="next-card-body">
              Drivers and riders approaching a drop-off can preview the location to confirm they're in the right place
            </p>
          </div>
        </div>
        <div class="slide-stagger-item next-card">
          <span class="next-card-number">03</span>
          <div>
            <h3 class="next-card-title">Calendar Integration</h3>
            <p class="next-card-body">Suggest upcoming appointments as destinations via Google Calendar</p>
          </div>
        </div>
        <div class="slide-stagger-item next-card">
          <span class="next-card-number">04</span>
          <div>
            <h3 class="next-card-title">Advanced Data Tools</h3>
            <p class="next-card-body">Enhance the data team's visualization and prediction capabilities</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</StudyLayout>

<style lang="scss">
  @use '../../../styles/scssVariables' as *;

  // ========================================
  // Route nav positioning (specific to this page)
  // ========================================

  .route-nav {
    position: fixed;
    left: var(--spacing-7);
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;

    @media (width < $breakpoint-md) {
      display: none;
    }
  }

  // ========================================
  // Shared slide inner layouts
  // ========================================

  .slide-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .slide-inner--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .slide-inner--split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-14);
    align-items: center;

    @media (width < $breakpoint-lg) {
      grid-template-columns: 1fr;
      gap: var(--spacing-8);
    }
  }

  .slide-inner--media-heavy {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: var(--spacing-14);
    align-items: center;

    @media (width < $breakpoint-lg) {
      grid-template-columns: 1fr;
      gap: var(--spacing-8);
    }
  }

  .slide-split--reversed .slide-inner--split {
    direction: rtl;

    > * {
      direction: ltr;
    }

    @media (width < $breakpoint-lg) {
      direction: ltr;
    }
  }

  // ========================================
  // Typography
  // ========================================

  .slide-text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  :global(.study-slide) .slide-heading {
    font-family: var(--font-serif);
    font-weight: 700;
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    font-weight: 700;
    line-height: 1.2;
    color: var(--study-heading);
  }

  .slide-header-group {
    border-left: 2px solid var(--study-color);
    padding-left: var(--spacing-7);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
  }

  .slide-section-label {
    font-family: var(--font-body);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--study-color);
    line-height: 1.4;
  }

  .slide-subtitle {
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    line-height: 1.6;
    color: var(--study-text-muted);
    font-weight: 500;
    margin-top: var(--spacing-5);
    padding-left: var(--spacing-7);
  }

  .slide-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    margin-top: var(--spacing-5);

    li {
      font-size: clamp(0.9rem, 1.2vw, 1rem);
      line-height: 1.6;
      color: var(--study-text);
      padding-left: var(--spacing-7);
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.65em;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--study-color);
        opacity: 0.75;
      }
    }
  }

  // ========================================
  // Media placeholders
  // ========================================

  .media-placeholder {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-color: var(--study-bg-alt);
    border: 1.5px dashed var(--study-border);
    border-radius: 12px;
    display: grid;
    place-content: center;

    &--wide {
      aspect-ratio: 16 / 9;
    }

    &--muted {
      opacity: 0.5;
    }
  }

  .media-placeholder-label {
    font-size: 0.8rem;
    color: var(--study-text-muted);
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  // ========================================
  // Slide 1: Hero
  // ========================================

  .slide-hero {
    .hero-accent {
      position: absolute;
      width: 50vmin;
      height: 50vmin;
      border-radius: 50%;
      background: radial-gradient(circle, hsl(from var(--study-color) h s l / 0.07) 0%, transparent 70%);
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .slide-inner {
      position: relative;
      z-index: 1;
    }
  }

  .hero-label {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--study-color);
    margin-bottom: var(--spacing-4);
  }

  .hero-title {
    font-family: var(--font-serif);
    font-size: clamp(2.75rem, 6vw, 5rem);
    font-weight: 500;
    line-height: 1.05;
    color: var(--study-heading);
    letter-spacing: -0.02em;
  }

  .hero-meta {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
    margin-top: var(--spacing-6);
    font-size: 1rem;
    color: var(--study-text-muted);
    font-weight: 400;
  }

  .hero-divider {
    width: 24px;
    height: 1.5px;
    background: var(--study-border);
  }

  .hero-summary {
    max-width: 52ch;
    font-size: clamp(1rem, 1.4vw, 1.15rem);
    line-height: 1.7;
    color: var(--study-text);
    margin-top: var(--spacing-12);
  }

  // ========================================
  // Slide 1: Hero visual
  // ========================================

  .hero-visual {
    position: relative;
    width: 100%;
    margin-top: var(--spacing-8);
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 1118 / 778;
    flex-shrink: 1;
    min-height: 0;
  }

  .hero-map-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
  }

  .hero-heatmap {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .hero-heatmap-zone {
    opacity: 0;
  }

  .hero-route-main,
  .hero-route-progress {
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
  }

  .hero-route-dot {
    opacity: 0;
    transform-box: fill-box;
    transform-origin: center;
    scale: 0;
  }

  // ========================================
  // Slide 4: Research cards
  // ========================================

  .research-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  .research-card {
    display: flex;
    align-items: center;
    gap: var(--spacing-5);
    padding: var(--spacing-5) var(--spacing-6);
    background: white;
    border: 1px solid var(--study-border);
    border-radius: 10px;
    transition: border-color 0.2s ease;

    &:hover {
      border-color: var(--study-color);
    }
  }

  .research-card-icon {
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--study-color);
    letter-spacing: 0.05em;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: hsl(from var(--study-color) h s l / 0.1);
  }

  .research-card-text {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--study-text);
  }

  // ========================================
  // Slide 6: Decision cards
  // ========================================

  .decisions-subtitle {
    margin-bottom: var(--spacing-8);
  }

  .decision-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-6);
    width: 100%;

    @media (width < $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  .decision-card {
    text-align: left;
    padding: var(--spacing-8);
    background: white;
    border: 1px solid var(--study-border);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
  }

  .decision-card-number {
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--study-color);
    letter-spacing: 0.05em;
  }

  .decision-card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--study-heading);
  }

  .decision-card-body {
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--study-text-muted);
  }

  // ========================================
  // Slide 7: Failure
  // ========================================

  .slide-failure {
    background-color: hsl(from var(--study-bg) h s l / 0.97);
  }

  // ========================================
  // Slide 8: Results / Stats
  // ========================================

  .results-subtitle {
    margin-bottom: var(--spacing-8);
  }

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-6);
    width: 100%;

    @media (width < $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  .stat-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
    padding: var(--spacing-8);
    background: white;
    border: 1px solid var(--study-border);
    border-radius: 12px;
  }

  .stat-number {
    font-size: clamp(2rem, 3.5vw, 2.75rem);
    font-weight: 700;
    color: var(--study-color);
    line-height: 1;
    letter-spacing: -0.02em;
  }

  .stat-label {
    font-size: 0.85rem;
    line-height: 1.5;
    color: var(--study-text-muted);
  }

  // ========================================
  // Slide 9: What Comes Next
  // ========================================

  .next-items {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    width: 100%;
    max-width: 640px;
    margin-top: var(--spacing-6);
  }

  .next-card {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-5);
    text-align: left;
    padding: var(--spacing-5) var(--spacing-6);
    background: white;
    border: 1px solid var(--study-border);
    border-radius: 10px;
  }

  .next-card-number {
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--study-color);
    letter-spacing: 0.05em;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: hsl(from var(--study-color) h s l / 0.1);
    margin-top: 2px;
  }

  .next-card-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--study-heading);
    margin-bottom: var(--spacing-1);
  }

  .next-card-body {
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--study-text-muted);
  }
</style>

<script>
  import { animate, stagger, inView } from 'motion'

  const heroSection = document.getElementById('hero')
  if (heroSection) {
    let fired = false

    inView(
      heroSection,
      () => {
        if (fired) return
        fired = true

        const mapImg = heroSection.querySelector('.hero-map-img') as HTMLElement
        const zones = heroSection.querySelectorAll('.hero-heatmap-zone')
        const dots = heroSection.querySelectorAll('.hero-route-dot')
        const mainRoute = heroSection.querySelector('.hero-route-main') as SVGPathElement
        const progressRoute = heroSection.querySelector('.hero-route-progress') as SVGPathElement

        if (!mapImg || !mainRoute || !progressRoute) return

        const reducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches

        if (reducedMotion) {
          ;(mapImg as HTMLElement).style.opacity = '1'
          zones.forEach((z) => ((z as HTMLElement).style.opacity = '1'))
          dots.forEach((d) => {
            ;(d as HTMLElement).style.opacity = '1'
            ;(d as HTMLElement).style.scale = '1'
          })
          mainRoute.style.strokeDashoffset = '0'
          progressRoute.style.strokeDashoffset = '0'
          return
        }

        // Measure actual path lengths
        const mainLength = mainRoute.getTotalLength()
        mainRoute.style.strokeDasharray = `${mainLength}`
        mainRoute.style.strokeDashoffset = `${mainLength}`

        const progressLength = progressRoute.getTotalLength()
        progressRoute.style.strokeDasharray = `${progressLength}`
        progressRoute.style.strokeDashoffset = `${progressLength}`

        const easing: [number, number, number, number] = [0.22, 1, 0.36, 1]

        // 1. Map image fades in
        animate(mapImg, { opacity: [0, 1] }, { duration: 0.7, delay: 0.2, easing: 'ease-out' })

        // 2. Heatmap zones staggered
        animate(
          zones,
          { opacity: [0, 1] },
          { duration: 0.45, delay: stagger(0.04, { start: 0.5 }), easing: 'ease-out' },
        )

        // 3. Route dots pop in
        animate(
          dots,
          { opacity: [0, 1], scale: [0, 1] } as any,
          { duration: 0.35, delay: stagger(0.1, { start: 1.4 }), easing: [0.34, 1.56, 0.64, 1] as any },
        )

        // 4. Main route draws in with dashoffset
        animate(
          mainRoute,
          { strokeDashoffset: [mainLength, 0] } as any,
          { delay: 1.65, duration: 1.3, easing },
        )

        // 5. Progress line draws in after main route finishes
        animate(
          progressRoute,
          { strokeDashoffset: [progressLength, 0] } as any,
          { delay: 2.95, duration: 0.65, easing },
        )
      },
      { amount: 0.25 },
    )
  }
</script>
