---
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

export interface Props {
	title: string
	year: string
	position: string
	logo?: string
	logoOpen?: string
	workUrl?: string
	color: string
	description: string
	details?: string[]
}

const { title, year, position, logo, logoOpen, workUrl, color, description, details } = Astro.props
---

<BaseLayout title={title} pageColor={color} class={`work-layout ${title.toLowerCase().replace(/\s+/g, '-')}-wrap`}>
	<div class="work-background"></div>

	<Header />

	<main>
		<div class="work-header-wrap">
			<header class="work-header xyz-in" xyz="fade down duration-5 ease-out-back">
				<div class="work-header-top">
					<div class="work-title-wrap xyz-in" xyz="fade left delay-4 ease-out-back">
						{
							logoOpen ? (
								<img class="work-logo" src={`/assets/logos/${logoOpen}`} alt={`${title} Logo`} />
							) : logo ? (
								<img class="work-logo" src={`/assets/logos/${logo}`} alt={`${title} Logo`} />
							) : (
								<h1 class="work-title">{title}</h1>
							)
						}
					</div>
					{
						workUrl && (
							<a href={workUrl} class="work-link button--themed" target="_blank">
								<span class="button__text">Visit</span>
							</a>
						)
					}
				</div>
				<div class="work-header-bottom" xyz="fade narrow stagger delay-8 origin-left">
					<div class="work-detail xyz-in">
						<span class="xyz-nested" xyz="fade down-100% duration-8 delay-10">{position} &ndash; {year}</span>
					</div>
					{
						details &&
							details.map((detail) => (
								<div class="work-detail xyz-in">
									<span class="xyz-nested" xyz="fade down-100% duration-8 delay-10">
										{detail}
									</span>
								</div>
							))
					}
				</div>
			</header>
		</div>

		<div class="grab-copy-wrap">
			<p class="grab-copy" set:html={description} />
		</div>

		<slot />
	</main>

	<Footer />
</BaseLayout>

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox'
	// import ObjectPosition from '/Users/mattaningram/Code/mattaningram.com/node_modules/@vovayatsyuk/photoswipe-object-position/photoswipe-object-position.js'
	import 'photoswipe/style.css'

	const lightbox = new PhotoSwipeLightbox({
		gallery: '.photoswipe-gallery',
		children: 'a',
		pswpModule: () => import('photoswipe'),
		zoom: false,
		counter: false,
		padding: { top: 24, bottom: 24, left: 24, right: 24 },
	})

	// new ObjectPosition(lightbox)

	lightbox.init()
</script>

<style lang="scss">
	@use '../styles/scssVariables' as *;

	.work-header-wrap {
		width: var(--page-content-width);
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 10vh;
		padding: 0 var(--page-gutter);
	}

	.work-header {
		background-color: var(--bg-dark);
		border: 1px solid var(--page-color);
	}

	.work-header-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--spacing-8);
		padding: var(--spacing-10);
		border-bottom: 1px solid var(--page-color);

		@media (width < $breakpoint-md) {
			flex-direction: column;
		}
	}

	.work-header-bottom {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: -1px;
		margin-right: -1px;
	}

	.work-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		z-index: -1;
		opacity: 0.25;
		background-image: radial-gradient(circle at top, var(--page-color), var(--bg-color) 65%);
		background-size: 100% 300%;
		background-position-y: 60%;
	}

	.work-title-wrap {
		height: 3rem;
		max-width: 15rem;
	}

	.work-title {
		font-size: 2.2em;
		text-align: center;
	}

	.work-logo {
		display: block;
		height: 100%;
		max-width: 240px;
		max-height: 48px;
	}

	.work-link {
		height: 3rem;
		width: 8rem;
		margin: 0;
		text-decoration: none;
	}

	.work-detail {
		background-color: var(--bg-color);
		height: 3rem;
		display: flex;
		justify-content: center;
		width: fit-content;
		align-items: center;
		border-bottom: 1px solid var(--page-color);
		border-right: 1px solid var(--page-color);
		padding: 0 var(--spacing-8);
		color: var(--page-color);
		font-size: 0.875rem;
		font-weight: 400;
		text-align: center;

		@media (width < $breakpoint-md) {
			flex-grow: 1;
			padding: 0 var(--spacing-5);
		}
	}
</style>
